body {
  margin: 0;
}

#list {
  margin: 0;
  padding: 0;
}

#list {
  margin-top: 30px;
}

#list li {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  padding-left: 20px;
  list-style: none;
}

#list li:nth-child(odd) {
  background-color: #F6F6F6;
}

#list li:hover {
  background: #ddd;
}

.finished {
  background: #888;
  text-decoration: line-through;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
  font-family: 'Share Tech Mono', monospace;
}

header {
  background-color: #D9D9D9;
  margin-top: 0;
  display: flex;
  justify-content: flex-end;
}

.navbar {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-right: 35px;
  font-family: 'Share Tech Mono', monospace;
}

.navbar-item {
  margin: 20px 0;
  margin-left: 40px;
}

.navbar-item a {
  text-decoration: none;
  font-weight: 200;
  font-size: 1.2em;
  color: black;
}

.navbar-item a:hover {
  text-decoration: underline;
  font-weight: 400;
}

h1 {
  font-family: 'Lobster', cursive;
  margin-left: 20px;
  margin-right: auto;
}

#taskInserter, #login-box {
  display: flex;
  justify-content: center;
}

#login-box {
  align-items: center;
  flex-direction: column;
  background-color: #D9D9D9;
  padding-top: 150px;
  padding-bottom: 120px;
  margin-right: 250px;
  margin-left: 250px;
  margin-top: 100px;
}

#loginForm {
  background-color: white;
  border-bottom: black;
  border-width: 10px;
  width: 350px;
}

#login-button {
  background-color: lavender;
  border-radius: 25px;
  padding: 12px;
  margin-top: 25px;
  width: 140px;
  margin-bottom: 0px;
}

#login-box > h1 {
  margin: auto;
  margin-bottom: 20px;
  font-family: 'Share Tech Mono', monospace;
}

#list {
  font-family: 'Share Tech Mono', monospace;
}

button {
  font-family: 'Share Tech Mono', monospace;
  border-width: 1px;
}

#taskInserterBtn {
  background-color: lavender;
}

#taskInserter {
  border-width: 100px;
}